.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 100%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header button { 
  margin-bottom: 3vh;
}

.App-link {
  color: #61dafb;
}

.App-body {
  font-size: calc(10px + 2vmin);
  padding-bottom: 2px;
}

.Slot {
  width: 15vw;
  height: 15vh;
  line-height: 15vh;
  font-size: 2vh;
  overflow: hidden;
}

.Slot span {
  text-overflow: ellipsis;
}

.Game-ID {
  position: absolute;
  top: 20.8vh;
  height: 3vh;
  right: 2vw;
  font-size: calc(12px + 0.4vmin)
}

@media only screen and (max-width: 400px) {
  .App-logo {
    height: 50%;
  }
  .App-header button {
    margin-bottom: 0;
  }
  .Game-ID {
    font-size: 12px;
    top: 21.1vh;
    right: 1vw;
  }
  .Slot {
    font-size: 1.3vh;
  }
}